html,
body {
    height: 90%;
    margin: 0 40px;
    background-color: #fafafa;
    opacity: 9;
  

    color: #696464;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 8s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.lighting {
  /* margin-left: 500px; */
  height: 50%;
  width: 70%;
  aspect-ratio: 111;
  filter: blur(185px);
  background-color: rgba(247, 101, 169, 0.564);
  /* z-index: 1; */
  position: absolute;
}
.lighting1 {
  margin-left: 500px;
  height: 50%;
  width: 30%;
  aspect-ratio: 11;
  filter: blur(265px);
  background-color: rgba(58, 130, 238, 0.656);
  /* z-index: 1; */
  /* position: absolute; */
}
.lighting2 {
  margin-top: 300px;
  margin-left: 200px;
  height: 30%;
  width: 20%;
  aspect-ratio: 41;
  filter: blur(165px);
  background-color: rgba(99, 248, 91, 0.592);
  /* z-index: 1; */
  position: absolute;
}
.notes {
  display: flex;
  height: 100%;
}

.notes * {
  font-family: sans-serif;
}

.notes__sidebar {
  border-right: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 1em;
  width: 300px;
  display: block;
  z-index: 1;
}

.notes__add {
  background: #009578;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 100%;
}

.notes__add:hover {
  background: #00af8c;
  transform: scale3d(1.02, 1.05,1);
  transition: all 0.1s ease-in-out ;
  
}

.notes__list-item {
  cursor: pointer;
}

.notes__list-item--selected {
  background: #eeeeee;
  border-radius: 7px;
  font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
  padding: 10px;
}

.notes__small-title {
  font-size: 1.2em;
  
}

.notes__small-body {
width: 100%;
  padding: 0 10px;
}

.notes__small-updated {
  color: #817d7d;
  font-style: italic;
  text-align: right;
}

.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
  
}

.notes__title,
.notes__body {
  border-radius: 20px;
  border: none;
  border-bottom: 2px dotted rgb(12, 14, 12);
  outline: none;
  width: 100%;
  margin: 10px;
  padding: 10px;
  z-index: 10;
}

.notes__title {
  border-radius: 0px;
  padding: 15px;
 background-color: #ffffff00;
 
  font-size: 3em;
  font-weight: bold;
}

.notes__body {
  flex-grow: 1;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
  background-color: #ffffff6f;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
 html,body
  {
   margin: 0 0;
 }
  .notes {
      display: flex;
      flex-wrap: wrap; 
      height: 100%;
  }
  .lighting1 {
    margin-left: 300px;
   
  }
  
  .notes__sidebar {
    height: 500px;
      width: 300px;
      margin: 10px 50px;
  }
  .notes__body {
    height: 500px;
  }

  .notes__preview {
      padding: 2em 3em;
  }
}

@media only screen and (min-width: 992px) {
  .notes__sidebar {
      width: 350px;
  }

  .notes__preview {
      padding: 2em 4em;
  }
}

@media only screen and (min-width: 1200px) {
  .notes__sidebar {
      width: 400px;
  }

  .notes__preview {
      padding: 2em 5em;
  }
}







































/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */

body::before {
  content: "SAGNIK NOTES";
  font-size: 4rem;
  font-weight: 500;
  font-style: normal ;
  /* font-weight: bold; */
  margin: 10px 100px;
    /* width: 169%; */
    display: inline-block;
  
}